// === центральная линейка =====================================================
.center-line-temporality {
    position: fixed;
    z-index: 2000;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);

    width: 2px;
    height: 600vw;
    border-left: 1px dashed green;
    border-right: 1px dashed red;

    background: gray;
}

// === обводка сетки bootstrap =================================================
.bootstrap-liner-temp {
    .container {
        outline: 2px solid red;
        // линия снаружи
        background-color: rgba(255, 202, 202, 0.2);
        // box-shadow: 0 0 0 5px rgb(250, 198, 198) inset;
        // color: black;

        .row {
            outline: 2px dashed green;
            outline-offset: -2px;
            // линия внутри
            background-color: rgba(202, 255, 206, 0.3);

            [class|="col"] {
                position: relative;
                z-index: 1;

                &::before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    bottom: 0;
                    left: 15px;
                    right: 15px;
                    background-color: rgba(254, 255, 173, 0.6);
                    box-shadow: 0 2px 0 -1px rgb(156, 49, 0);
                }
            }
        }
    }
}

// =============================================================================
// обводка контейнера, всех секций и центральная ось симметрии
// в случае если верстка без bootstrap

.custom-liner-temp {
    header {
        outline: 5px dashed rgba(166, 168, 1, 0.5);
        outline-offset: -5px;
    }

    main {
        outline: 5px dashed rgba(0, 153, 255, 0.5);
        outline-offset: -5px;
    }

    footer {
        outline: 5px dashed rgba(255, 0, 234, 0.5);
        outline-offset: -5px;
    }

    section {
        outline: 2px dashed rgba(255, 62, 40, 0.5);
        outline-offset: -15px;
    }

    .container {
        outline: 2px dotted purple;
        outline-offset: -2px;

        &::before {
            content: '';
            width: 2px;
            height: 2000px;
            background-color: purple;
            position: absolute;
            z-index: 100;
            left: 50%;
            transform: translate(-50%, -500px);
        }
    }
}